@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700 display=swap");
/* жирный */
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("/fonts/Gilroy-Bold.ttf");
}

/* полу-жирный */
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url("/fonts/Gilroy-Semibold.ttf");
}

:root {
  --grayscale-color1: #111112;
  --grayscale-color2: #ADAEAF;
  --grayscale-color3: #EAEAEA;
  --grayscale-color4: #F5F5F5;
  --grayscale-color5: #FDFBFA;
  --accentPrimary1: #1AC84B;
  --accentPrimary2: #FFB21A;
  --accentSecondary1: #0056FC;
  --accentSecondary2: #F700FC;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

[class*="__container"] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--grayscale-color5);
}

.header {
  padding: 61px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 150px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

@media (max-width: 992px) {
  .header__buttons {
    margin-left: auto;
    margin-right: 28px;
  }
}

@media (max-width: 350px) {
  .header__buttons {
    gap: 12px;
    margin-right: 15px;
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    background-color: var(--accentPrimary1);
    opacity: .9;
    -webkit-transition: left .5s;
    transition: left .5s;
  }
  .menu._active {
    left: 0;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1.25rem, calc(-4.375rem + 8.57vw), 3.5rem);
}

@media (max-width: 992px) {
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}

.menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--grayscale-color1);
  text-decoration: none;
  position: relative;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.menu__link::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .9s;
  transition: opacity .9s;
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--accentPrimary1);
  }
  .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
    background-color: var(--accentPrimary2);
  }
}

@media (max-width: 992px) {
  .menu__link {
    color: var(--grayscale-color5);
    font-size: 25px;
    gap: 40px;
  }
}

.menu-icon {
  display: none;
}

@media (max-width: 992px) {
  .menu-icon {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .menu-icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--grayscale-color1);
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon._active span {
    background-color: var(--grayscale-color5);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu-icon._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.bag svg {
  -webkit-transition: stroke, -webkit-transform .3s;
  transition: stroke, -webkit-transform .3s;
  transition: stroke, transform .3s;
  transition: stroke, transform .3s, -webkit-transform .3s;
  stroke: var(--grayscale-color1);
}

.bag svg:hover {
  stroke: var(--accentPrimary1);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.login {
  font-weight: 600;
  font-size: 14px;
  color: var(--grayscale-color5);
  padding: 12px 25px;
  background-color: #111112;
  border-radius: 18px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  cursor: pointer;
}

@media (any-hover: hover) {
  .login:hover {
    background-color: var(--accentPrimary1);
  }
}

@media (max-width: 350px) {
  .login {
    padding: 10px 15px;
  }
}

.premium {
  position: relative;
  margin-top: 180px;
  padding-bottom: 355px;
}

@media (max-width: 992px) {
  .premium {
    margin-top: 20px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1350px) {
  .premium .premium__banner1,
  .premium .premium__banner2,
  .premium .premium__banner3,
  .premium .premium__banner4 {
    display: none;
  }
}

.premium .premium__banner1 {
  position: absolute;
  top: -13%;
  left: 0;
}

.premium .premium__banner1 img {
  height: auto;
  width: 100%;
}

.premium .premium__banner2 {
  position: absolute;
  bottom: 15%;
  left: 0;
}

.premium .premium__banner2 img {
  height: auto;
  width: 100%;
}

.premium .premium__banner3 {
  position: absolute;
  bottom: 21%;
  right: 0;
}

.premium .premium__banner3 img {
  height: auto;
  width: 100%;
}

.premium .premium__banner4 {
  position: absolute;
  top: -14%;
  right: 0;
}

.premium .premium__banner4 img {
  height: auto;
  width: 100%;
}

.premium__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.premium__info {
  max-width: 732px;
}

.premium__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 72px;
  text-align: center;
}

.premium__title img {
  vertical-align: middle;
}

@media (max-width: 750px) {
  .premium__title {
    font-size: 50px;
  }
  .premium__title img {
    width: 100px;
  }
}

@media (max-width: 540px) {
  .premium__title {
    font-size: 30px;
  }
  .premium__title img {
    width: 70px;
  }
}

@media (max-width: 350px) {
  .premium__title {
    font-size: 25px;
  }
  .premium__title img {
    width: 40px;
  }
}

.premium__text {
  margin: auto;
  margin-top: 72px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ADAEAF;
  max-width: 599px;
}

@media (max-width: 540px) {
  .premium__text {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .premium__text {
    font-size: 10px;
    line-height: 12px;
  }
}

.premium__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adjust {
  font-weight: 600;
  font-size: 14px;
  color: var(--grayscale-color5);
  background-color: var(--grayscale-color1);
  padding: 12px 23px;
  border-radius: 18px;
}

@media (max-width: 750px) {
  .adjust {
    padding: 10px 18px;
    font-size: 12px;
  }
}

.video {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--grayscale-color1);
}

@media (max-width: 750px) {
  .video {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .video img {
    width: 50px;
    height: 50px;
  }
}

.video .block-video + img {
  margin-left: 0.5em;
}
